.header {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: 0.5s;
  transform: scale(1);
  height: 7vh;

  & nav {
    display: flex;
    justify-content: center;

    & ul {
      list-style: none;
      padding: 0;

      & li {
        display: inline-block;
        margin: 0 1rem;




      }
    }
  }
}
a {
  font-size: 1.5em;
  background: linear-gradient(to right, #56ab2f, #76bb23);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.active-link {
  font-weight: bold;
}
